$wallpaper: '../../public/img/wallpaper_dark.png?';; // TODO: Use a darker wallpaper

// Define colors
$threema-green-color: rgb(0, 150, 136);
$dark-gray: rgb(83, 83, 83);
$middle-gray: rgb(112, 112, 112);
$light-gray: rgb(235, 235, 235);

// Primary
$primary-900: #004d3f;
$primary-800: #00695b;
$primary-700: #00796a;
$primary-600: #00897a;
$primary-500: $threema-green-color; // Standard
$primary-400: #26a699;
$primary-300: #4db6ab;
$primary-200: #80cbc3;
$primary-100: #b2dfdb;
$primary-050: #e0f2f1;
$primary: $primary-500;

// Secondary
$secondary-999: rgba(0, 0, 0, 1);
$secondary-900: rgba(32, 32, 32, 1);
$secondary-850: rgba(48, 48, 48, 1);
$secondary-800: rgba(65, 65, 65, 1);
$secondary-750: rgba(76, 76, 76, 1);
$secondary-700: rgba(96, 96, 96, 1);
$secondary-600: rgba(116, 116, 116, 1);
$secondary-570: rgba(148, 148, 148, 1);
$secondary-500: rgba(157, 157, 157, 1); // Standard
$secondary-400: rgba(188, 188, 188, 1);
$secondary-320: rgba(219, 219, 219, 1);
$secondary-300: rgba(223, 223, 223, 1);
$secondary-200: rgba(237, 237, 237, 1);
$secondary-100: rgba(245, 245, 245, 1);
$secondary-050: rgba(250, 250, 250, 1);
$secondary-000: rgba(255, 255, 255, 1);
$secondary: $secondary-500;

// Terniary

// Material colors
$material-grey-color: $secondary-900;
$material-grey-inactive-color: lighter($material-grey-color, 50%);
$material-grey-dark-color: darken($secondary-900, 25%);
$material-card-shadow-color: px 2px 5px px $material-grey-dark-color,
px 2px 5px px $material-grey-dark-color;

// Status colors
$status-ok-color: #4caf50;
$status-warning-color: #ff9800;
$status-error-color: #f44336;
$status-error-disabled-color: #f44336;
$status-starred-color: #ffc107;

// Border colors
$border-dark-color: $secondary-750;
$border-light-color: $secondary-320;

// Scrollbar colors
$scrollbar-thumb-color: $secondary-400;
$scrollbar-background-color: $secondary-900;

// Background colors
$background-dark-color: $secondary-900;
$background-medium-color: $secondary-850;
$background-light-color: $secondary-750;

$background-emoji-picker-color: $background-medium-color;
$navigation-background-color: $background-medium-color;
$navigation-background-highlight-color: $background-dark-color;

// Header colors
$navigation-header-color: $secondary-800;
$conversation-header-color: $secondary-800;

// Text colors
$text-dark-color: $secondary-500;
$text-medium-color: $secondary-300;
$text-light-color: $secondary-050;

$conversation-header-text-color: $secondary-050;

$latest-message-text-color: $secondary-500;
$text-placeholder-color: $secondary-500;
$text-protocol-updated-color: #9dd0f2;

// md-toolbar colors
$md-toolbar-color: $background-dark-color;
$md-toolbar-text-color: $secondary-800;
$md-toolbar-button-color: $secondary-800;

// Icon colors
$icon-color: $secondary-000;
$icon-dark-color: $secondary-400;
$icon-light-color: $secondary-400;
$icon-material-grey-color: $secondary-500;

// Message bubble colors
$message-quote-color: $threema-green-color;
$message-bubble-color-in: rgb(31, 25, 25);
$message-bubble-color-out: rgb(27, 39, 52);
$ctrl-message-bubble-color: #0c2298; //TODO: Check what this color is in the Android App

// Button colors
$button-color: $material-grey-color;
$button-color-enabled: $secondary-600;
$button-color-disabled: lighten($secondary-700, 65%);
$button-color-pressed: $secondary-750;
$button-hover-color: lighten($background-light-color, 15%);
$button-selected-color: darken($background-light-color, 10%);

$button-text-dark-color: $secondary-000;
$button-text-light-color: $secondary-900;

// Misc colors
$active-placeholder-color: $text-dark-color;
$url-light-blue-color: #63a6cf;
$work-blue-color: #3b84df;
$white-zero: rgba(255, 255, 255, 0);


.color-status-ok {
    color: $status-ok-color;
}

.color-status-warning {
    color: $status-warning-color;
}

.color-status-error {
    color: $status-error-color;
}

.material-icons.md-medium-dark {
    color: $secondary-400;
}

.material-icons.md-medium-dark.md-inactive {
    color: $material-grey-inactive-color;
}

@import '../app';
