$wallpaper: '../../public/img/wallpaper_light.png?';

// Define colors
$threema-green-color: rgb(0, 150, 136);
$dark-gray: rgb(83, 83, 83);
$middle-gray: rgb(112, 112, 112);
$light-gray: rgb(235, 235, 235);

// Primary
$primary-900: #004d3f;
$primary-800: #00695b;
$primary-700: #00796a;
$primary-600: #00897a;
$primary-500: $threema-green-color; // Standard
$primary-400: #26a699;
$primary-300: #4db6ab;
$primary-200: #80cbc3;
$primary-100: #b2dfdb;
$primary-050: #e0f2f1;
$primary: $primary-500;

// Secondary
$secondary-999: rgba(0, 0, 0, 1);
$secondary-900: rgba(32, 32, 32, 1);
$secondary-800: rgba(66, 66, 66, 1);
$secondary-700: rgba(96, 96, 96, 1);
$secondary-600: rgba(116, 116, 116, 1);
$secondary-570: rgba(148, 148, 148, 1);
$secondary-500: rgba(157, 157, 157, 1); // Standard
$secondary-400: rgba(188, 188, 188, 1);
$secondary-320: rgba(219, 219, 219, 1);
$secondary-300: rgba(223, 223, 223, 1);
$secondary-200: rgba(237, 237, 237, 1);
$secondary-100: rgba(245, 245, 245, 1);
$secondary-050: rgba(250, 250, 250, 1);
$secondary-000: rgba(255, 255, 255, 1);
$secondary: $secondary-500;

// Terniary

// Material colors
$material-grey-color: $secondary-900;
$material-grey-inactive-color: lighter($material-grey-color, 50%);
$material-grey-dark-color: darken($secondary-900, 25%);
$material-card-shadow-color: px 2px 5px px $material-grey-dark-color,
px 2px 5px px $material-grey-dark-color;

// Status colors
$status-ok-color: #4caf50;
$status-warning-color: #ff9800;
$status-error-color: #f44336;
$status-error-disabled-color: #f44336;
$status-starred-color: #ffc107;

// Border colors
$border-dark-color: $secondary-600;
$border-light-color: $secondary-320;

// Scrollbar colors
$scrollbar-thumb-color: $secondary-900;
$scrollbar-background-color: $secondary-400;

// Background colors
$background-dark-color: #efebe9;
$background-medium-color: #f5f5f5;
$background-light-color: $secondary-000;

$background-emoji-picker-color: #efefef;
$navigation-background-color: $secondary-000;
$navigation-background-highlight-color: $background-medium-color;

// Header colors
$navigation-header-color: $secondary-800;
$conversation-header-color: #f6f6f6;

// Text colors
$text-dark-color: $secondary-999;
$text-medium-color: $secondary-999;
$text-light-color: $secondary-300;

$conversation-header-text-color: $material-grey-dark-color;

$latest-message-text-color: $material-grey-color;
$text-placeholder-color: $middle-gray;
$text-protocol-updated-color: #9dd0f2;

// md-toolbar colors
$md-toolbar-color: $navigation-header-color;
$md-toolbar-text-color: $secondary-000;
$md-toolbar-button-color: $secondary-000;


// Icon colors
$icon-color: $secondary-900;
$icon-dark-color: $material-grey-dark-color;
$icon-light-color: $secondary-000;
$icon-material-grey-color: $material-grey-color;

// Message bubble colors
$message-quote-color: $threema-green-color;
$message-bubble-color-in: #f7f7f7;
$message-bubble-color-out: #dff0d8;
$ctrl-message-bubble-color: #fcf8e3;

// Button colors
$button-color: $material-grey-color;
$button-color-enabled: rgb(250, 250, 250);
$button-color-disabled: rgba(255, 254, 254, .65);
$button-color-pressed: rgb(155, 155, 155);
$button-hover-color: rgba(158, 158, 158, .2);
$button-selected-color: rgba(158, 158, 158, 1);

$button-text-dark-color: $secondary-999;
$button-text-light-color: $secondary-000;

// Misc colors
$active-placeholder-color: #d3d3d3;
$url-light-blue-color: #288ac7;
$work-blue-color: #3b84df;
$white-zero: rgba(255, 255, 255, 0);

.color-status-ok {
    color: $status-ok-color;
}

.color-status-warning {
    color: $status-warning-color;
}

.color-status-error {
    color: $status-error-color;
}

.material-icons.md-medium-dark {
    color: $material-grey-color;
}

.material-icons.md-medium-dark.md-inactive {
    color: $material-grey-inactive-color;
}

@import '../app';
