header {
    text-align: center;
    height: auto;
    padding: 2em;
}

#title {
    #logo {
        display: inline;
        width: 100%;
        svg {
            width: 220px;
            margin: 0 auto;
            fill: white;
        }
    }
    display: block;
    position: relative;
    top: 3px;
}
