header {
    text-align: center;
    height: $header-height;
    //background-color: #009688;
}

#title {
    #logo {
        display: block;
        width: 100%;
        svg {
            width: 220px;
            margin: 0 auto;
            fill: white;
        }
    }
    display: block;
    position: relative;
    top: 8px;
}
