header {
    height: $header-height;
    text-align: center;
}

#title {
    position: relative;
    top: 8px;

    #logo {
        width: 100%;

        svg {
            margin: 0 auto;
            width: 220px;
            fill: #ffffff;
        }
    }
}
