noscript {
    div {
        display: block;
        margin: 16px auto 0;
        background-color: $background-medium-color;
        padding: 16px;
        width: 50%;
        text-align: center;
    }

    #logo-noscript {
        display: block;
        margin: 16px auto;
        min-width: 100px;
        max-width: 300px;
        text-align: center;
    }

    h2 {
        padding-bottom: 8px;
    }
}
