#welcome {
    background-color: $background-welcome-light-color;
    padding: 16px 32px;
    line-height: 1.4em;

    .state {
        margin-top: 1em;

        &.error {
            color: $status-error-color;
        }
    }

    h2 {
        display: block;
        margin-bottom: 20px;
    }

    &,
    input {
        text-align: center;
        color: $text-bright-background-welcome-color;
    }

    md-input-container {
        margin-right: 32px;
        margin-left: 32px;
    }

    .scan {
        .ios-only-warning {
            display: flex;
            flex-direction: horizontal;
            margin-bottom: 16px;
            background-color: $status-warning;
            padding: 8px;

            p {
                text-align: left;
                line-height: 1.4em;
                letter-spacing: -.2px;
                font-size: .8em;
            }

            img {
                margin-right: 8px;
                width: 32px;
            }
        }

        .password-entry {
            margin-top: 16px;
        }

        .instructions {
            margin-bottom: 16px;
        }

        md-input-container {
            margin-top: 12px;
            margin-bottom: 0;
        }

        qrcode {
            canvas {
                max-width: 100%;
            }
        }
    }

    .unlock {
        padding-top: 16px;

        .password-entry {
            margin-top: 32px;
            margin-bottom: 48px;
        }

        md-input-container {
            margin-top: 24px;
            margin-bottom: 8px;
        }

        button {
            margin-top: 0;
            margin-bottom: 32px;
            margin-left: 0;
        }
    }

    .manual-start {
        .illustration {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        ol {
            margin: 16px auto 0;
            width: 90%;
            list-style-position: inside;

            li {
                margin-bottom: 4px;
            }
        }
    }

    .already-connected {
        .illustration {
            margin-top: 16px;
            margin-bottom: 28px;
            margin-left: 12px;
        }
    }

    .loading {
        margin-top: 48px;

        md-progress-circular {
            margin: 0 auto;

            svg path {
                stroke-width: 12px !important;
            }
        }

        .info {
            display: flex;
            position: relative;
            top: -250px;
            flex-direction: column;
            justify-content: center;
            height: 250px;

            .percentage {
                margin-bottom: 8px;
                vertical-align: center;
                line-height: 1em;
                font-size: 4em;
                font-weight: 300;
            }
        }

        .troubleshoot {
            $troubleshoot-height: 190px;
            position: absolute;
            bottom: -$troubleshoot-height - 32px;
            width: 100%;
            height: $troubleshoot-height;

            h3 {
                margin-bottom: 8px;
                height: 44px;
            }

            ul {
                font-size: .9em;
                list-style-type: none;
            }

            li {
                padding-bottom: .3em;
                line-height: 1.2em;
            }

            .forget {
                margin-top: 8px;
            }

            .reload-btn {
                margin: 20px 10px 0;
                padding: 0 10px;
                height: 35px;
            }
        }
    }

    .notification {
        flex-direction: horizontal;
        margin-bottom: 16px;
        background-color: #ff9800;
        padding: 8px;

        p {
            width: 100%;
            text-align: center;
            line-height: 1.4em;
            font-size: .8em;
            font-weight: bold;
        }
    }
}
