body {
    margin: 0;
    background-color: #ffffff;
    padding: 0;
}

#main {
    background-color: #ffffff;
}

footer {
    color: #ffffff;
}

dl.key-values dt {
    color: $theme-primary;
    font-weight: 500;
}

body[md-theme='threemawork'] dl.key-values dt {
    color: $work-primary;
}
