// Main theme colors
$theme-b100: #e1f4e7;
$theme-b200: #16ba52;
$theme-primary: #05a63f;
$theme-b300: #03732b;
$theme-b400: #036325;
$theme-b500: #02521f;
$theme-green: $theme-primary;

// Work theme colors
$work-b100: #def0fe;
$work-b200: #169dfe;
$work-primary: #0096ff;
$work-b300: #0068b2;
$work-b400: #005a99;
$work-b500: #004a7f;

// Status colors
$status-ok: $theme-primary;
$status-warning: #ff9800;
$status-error: #f44336;
$status-starred: #ffc107;

// Element focus outline color
$focus-outline-color: #c62828;

$border-grey: #dddddd;
$background-grey: lighten($border-grey, 7%);
$material-grey: rgba(0, 0, 0, .54);
$material-grey-dark: rgba(0, 0, 0, .87);

$dark-background-color: #f6f6f6;
$light-background-color: #ffffff;

$scrollbar-color-bg: $dark-background-color;
$scrollbar-color-thumb: #cccccc;

$material-card-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .23);

$active-placeholder-color: #d3d3d3;

.color-status-ok {
    color: $status-ok;
}

.color-status-warning {
    color: $status-warning;
}

.color-status-error {
    color: $status-error;
}

.material-icons.md-medium-dark { color: rgba(0, 0, 0, .54); }
.material-icons.md-medium-dark.md-inactive { color: rgba(0, 0, 0, .26); }
