$bubble-triangle-size: $main-padding;

@mixin message-bubble-shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}

@mixin message-bubble-triangle {
    position: absolute;
    top: $bubble-triangle-size;
    left: $bubble-triangle-size / 2;
    transform: rotate(-45deg);
    border-radius: 1px;
    width: $bubble-triangle-size;
    height: $bubble-triangle-size;
    content: '';
}
