version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.0

references:
  test-steps: &test-steps
    - checkout
    - restore_cache:
        keys:
          - v4-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ arch }}-{{ checksum "package.json" }}
    - browser-tools/install-browser-tools
    - run: npm install
    - run: npm run build
    - run: npm run ${BUILDTARGET}
    - run: npm run ${TESTTARGET}
    - save_cache:
        key: v4-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ arch }}-{{ checksum "package.json" }}
        paths:
          - node_modules

jobs:
  unittest:
    docker:
      - image: cimg/node:18.12-browsers
    steps: *test-steps
    environment:
      BUILDTARGET: build:unittests
      TESTTARGET: test:unit
  uitest-firefox:
    docker:
      - image: cimg/node:18.12-browsers
    steps: *test-steps
    environment:
      BUILDTARGET: build:uitests
      TESTTARGET: test:ui firefox
  uitest-chrome:
    docker:
      - image: cimg/node:18.12-browsers
    steps: *test-steps
    environment:
      BUILDTARGET: build:uitests
      TESTTARGET: test:ui chrome
  lint:
    docker:
      - image: cimg/node:18.12
    steps:
      - checkout
      - restore_cache:
          keys:
            - v4-dependencies-lint-node14-{{ arch }}-{{ checksum "package.json" }}
      - run: npm install
      - run: npm run lint
      - save_cache:
          key: v4-dependencies-lint-node14-{{ arch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
  docker-build:
    docker:
      - image: docker:stable
    steps:
      - run: apk update && apk add git openssh
      - checkout
      - setup_remote_docker
      - run: docker build . --no-cache
  docker-push-branch:
    docker:
      - image: docker:stable
    environment:
      IMAGE: threema/threema-web
    steps:
      - run: apk update && apk add git openssh
      - checkout
      - setup_remote_docker
      - run: >
          docker build .  --no-cache -t $IMAGE:${CIRCLE_BRANCH}
          && docker login -u $DOCKER_USER -p $DOCKER_API_KEY
          && docker push $IMAGE
  docker-push-tag:
    docker:
      - image: docker:stable
    environment:
      IMAGE: threema/threema-web
    steps:
      - run: apk update && apk add git openssh
      - checkout
      - setup_remote_docker
      - run: >
          export minortag=$(echo $CIRCLE_TAG | sed 's/^\(v[0-9]*\.[0-9]*\)\..*$/\1/')
                 majortag=$(echo $CIRCLE_TAG | sed 's/^\(v[0-9]*\)\..*$/\1/')
          docker build .  --no-cache -t $IMAGE:$CIRCLE_TAG -t $IMAGE:$minortag -t $IMAGE:$majortag
          && docker login -u $DOCKER_USER -p $DOCKER_API_KEY
          && docker push $IMAGE
  docker-rebuild-images:
    docker:
      - image: docker:stable
    steps:
      - run: apk update && apk add git openssh bash git
      - checkout
      - setup_remote_docker
      - run: /bin/bash docker/rebuild.sh


workflows:
  version: 2
  build:
    jobs:
      - unittest
      - uitest-firefox
      - uitest-chrome
      - lint
      - docker-build:
          filters:
            branches:
              ignore: master
      - docker-push-branch:
          filters:
            branches:
              only: master
      - docker-push-tag:
          filters:
            # Only build for tag, not for branch
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
  rebuild-images:
    triggers:
      - schedule:
          cron: "30 5 * * 1,4"
          filters:
            branches:
              only:
                - master
    jobs:
      - docker-rebuild-images
