<div class="form-content">
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline" translate>messenger.DISTRIBUTION_LIST_MEMBERS</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<ul class="member-list">
				<li ng-repeat="memberIdentity in ctrl.receiver.members">
					<eee-contact-badge eee-identity="memberIdentity"></eee-contact-badge>
				</li>
			</ul>

		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button ng-disabled="!ctrl.controllerModel.canClean()" class="md-raised" ng-click="ctrl.controllerModel.clean($event)">
					<span translate>messenger.DELETE_THREAD</span>
				</md-button>
				<md-button ng-disabled="!ctrl.receiver.access.canDelete" class="md-raised md-warn" ng-click="ctrl.controllerModel.delete()">
					<span translate>messenger.DISTRIBUTION_LIST_DELETE</span>
				</md-button>
			</section>
		</md-card-content>
	</md-card>
</div>
