/* glue: 0.13 hash: 89fbd18a6a */
        .em-activity-2728,
.em-activity-26f8,
.em-activity-26f3,
.em-activity-26be,
.em-activity-26bd,
.em-activity-2666,
.em-activity-2665,
.em-activity-2663,
.em-activity-2660,
.em-activity-265f,
.em-activity-1faa2,
.em-activity-1faa1,
.em-activity-1fa86,
.em-activity-1fa85,
.em-activity-1fa84,
.em-activity-1fa81,
.em-activity-1fa80,
.em-activity-1f9ff,
.em-activity-1f9f8,
.em-activity-1f9f6,
.em-activity-1f9f5,
.em-activity-1f9e9,
.em-activity-1f9e8,
.em-activity-1f9e7,
.em-activity-1f94f,
.em-activity-1f94e,
.em-activity-1f94d,
.em-activity-1f94c,
.em-activity-1f94b,
.em-activity-1f94a,
.em-activity-1f949,
.em-activity-1f948,
.em-activity-1f947,
.em-activity-1f945,
.em-activity-1f93f,
.em-activity-1f6f7,
.em-activity-1f5bc,
.em-activity-1f579,
.em-activity-1f52e,
.em-activity-1f3f8,
.em-activity-1f3d3,
.em-activity-1f3d2,
.em-activity-1f3d1,
.em-activity-1f3d0,
.em-activity-1f3cf,
.em-activity-1f3c9,
.em-activity-1f3c8,
.em-activity-1f3c6,
.em-activity-1f3c5,
.em-activity-1f3c0,
.em-activity-1f3bf,
.em-activity-1f3be,
.em-activity-1f3bd,
.em-activity-1f3b4,
.em-activity-1f3b3,
.em-activity-1f3b2,
.em-activity-1f3b1,
.em-activity-1f3b0,
.em-activity-1f3af,
.em-activity-1f3ae,
.em-activity-1f3ad,
.em-activity-1f3ab,
.em-activity-1f3a8,
.em-activity-1f3a3,
.em-activity-1f39f,
.em-activity-1f397,
.em-activity-1f396,
.em-activity-1f391,
.em-activity-1f390,
.em-activity-1f38f,
.em-activity-1f38e,
.em-activity-1f38d,
.em-activity-1f38b,
.em-activity-1f38a,
.em-activity-1f389,
.em-activity-1f388,
.em-activity-1f387,
.em-activity-1f386,
.em-activity-1f384,
.em-activity-1f383,
.em-activity-1f381,
.em-activity-1f380,
.em-activity-1f0cf,
.em-activity-1f004 {
            background-image: url('activity.png?89fbd18a6a');
            background-repeat: no-repeat;
        }
        
        .em-activity-2728 {
            background-position: -1px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-26f8 {
            background-position: -35px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-26f3 {
            background-position: -1px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-26be {
            background-position: -35px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-26bd {
            background-position: -69px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-2666 {
            background-position: -69px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-2665 {
            background-position: -1px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-2663 {
            background-position: -35px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-2660 {
            background-position: -69px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-265f {
            background-position: -103px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1faa2 {
            background-position: -103px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1faa1 {
            background-position: -103px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1fa86 {
            background-position: -1px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1fa85 {
            background-position: -35px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1fa84 {
            background-position: -69px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1fa81 {
            background-position: -103px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1fa80 {
            background-position: -137px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f9ff {
            background-position: -137px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f9f8 {
            background-position: -137px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f9f6 {
            background-position: -137px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f9f5 {
            background-position: -1px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f9e9 {
            background-position: -35px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f9e8 {
            background-position: -69px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f9e7 {
            background-position: -103px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f94f {
            background-position: -137px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f94e {
            background-position: -171px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f94d {
            background-position: -171px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f94c {
            background-position: -171px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f94b {
            background-position: -171px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f94a {
            background-position: -171px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f949 {
            background-position: -1px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f948 {
            background-position: -35px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f947 {
            background-position: -69px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f945 {
            background-position: -103px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f93f {
            background-position: -137px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f6f7 {
            background-position: -171px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f5bc {
            background-position: -205px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f579 {
            background-position: -205px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f52e {
            background-position: -205px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3f8 {
            background-position: -205px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3d3 {
            background-position: -205px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3d2 {
            background-position: -205px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3d1 {
            background-position: -1px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3d0 {
            background-position: -35px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3cf {
            background-position: -69px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3c9 {
            background-position: -103px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3c8 {
            background-position: -137px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3c6 {
            background-position: -171px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3c5 {
            background-position: -205px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3c0 {
            background-position: -239px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3bf {
            background-position: -239px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3be {
            background-position: -239px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3bd {
            background-position: -239px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3b4 {
            background-position: -239px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3b3 {
            background-position: -239px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3b2 {
            background-position: -239px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3b1 {
            background-position: -1px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3b0 {
            background-position: -35px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3af {
            background-position: -69px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3ae {
            background-position: -103px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3ad {
            background-position: -137px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3ab {
            background-position: -171px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3a8 {
            background-position: -205px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f3a3 {
            background-position: -239px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f39f {
            background-position: -273px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f397 {
            background-position: -273px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f396 {
            background-position: -273px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f391 {
            background-position: -273px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f390 {
            background-position: -273px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f38f {
            background-position: -273px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f38e {
            background-position: -273px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f38d {
            background-position: -273px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f38b {
            background-position: -1px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f38a {
            background-position: -35px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f389 {
            background-position: -69px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f388 {
            background-position: -103px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f387 {
            background-position: -137px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f386 {
            background-position: -171px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f384 {
            background-position: -205px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f383 {
            background-position: -239px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f381 {
            background-position: -273px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f380 {
            background-position: -307px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f0cf {
            background-position: -307px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-activity-1f004 {
            background-position: -307px -69px;
            width: 32px;
            height: 32px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .em-activity-2728,
    .em-activity-26f8,
    .em-activity-26f3,
    .em-activity-26be,
    .em-activity-26bd,
    .em-activity-2666,
    .em-activity-2665,
    .em-activity-2663,
    .em-activity-2660,
    .em-activity-265f,
    .em-activity-1faa2,
    .em-activity-1faa1,
    .em-activity-1fa86,
    .em-activity-1fa85,
    .em-activity-1fa84,
    .em-activity-1fa81,
    .em-activity-1fa80,
    .em-activity-1f9ff,
    .em-activity-1f9f8,
    .em-activity-1f9f6,
    .em-activity-1f9f5,
    .em-activity-1f9e9,
    .em-activity-1f9e8,
    .em-activity-1f9e7,
    .em-activity-1f94f,
    .em-activity-1f94e,
    .em-activity-1f94d,
    .em-activity-1f94c,
    .em-activity-1f94b,
    .em-activity-1f94a,
    .em-activity-1f949,
    .em-activity-1f948,
    .em-activity-1f947,
    .em-activity-1f945,
    .em-activity-1f93f,
    .em-activity-1f6f7,
    .em-activity-1f5bc,
    .em-activity-1f579,
    .em-activity-1f52e,
    .em-activity-1f3f8,
    .em-activity-1f3d3,
    .em-activity-1f3d2,
    .em-activity-1f3d1,
    .em-activity-1f3d0,
    .em-activity-1f3cf,
    .em-activity-1f3c9,
    .em-activity-1f3c8,
    .em-activity-1f3c6,
    .em-activity-1f3c5,
    .em-activity-1f3c0,
    .em-activity-1f3bf,
    .em-activity-1f3be,
    .em-activity-1f3bd,
    .em-activity-1f3b4,
    .em-activity-1f3b3,
    .em-activity-1f3b2,
    .em-activity-1f3b1,
    .em-activity-1f3b0,
    .em-activity-1f3af,
    .em-activity-1f3ae,
    .em-activity-1f3ad,
    .em-activity-1f3ab,
    .em-activity-1f3a8,
    .em-activity-1f3a3,
    .em-activity-1f39f,
    .em-activity-1f397,
    .em-activity-1f396,
    .em-activity-1f391,
    .em-activity-1f390,
    .em-activity-1f38f,
    .em-activity-1f38e,
    .em-activity-1f38d,
    .em-activity-1f38b,
    .em-activity-1f38a,
    .em-activity-1f389,
    .em-activity-1f388,
    .em-activity-1f387,
    .em-activity-1f386,
    .em-activity-1f384,
    .em-activity-1f383,
    .em-activity-1f381,
    .em-activity-1f380,
    .em-activity-1f0cf,
    .em-activity-1f004 {
                background-image: url('activity.png?89fbd18a6a');
                -webkit-background-size: 340px 306px;
                -moz-background-size: 340px 306px;
                background-size: 340px 306px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .em-activity-2728,
    .em-activity-26f8,
    .em-activity-26f3,
    .em-activity-26be,
    .em-activity-26bd,
    .em-activity-2666,
    .em-activity-2665,
    .em-activity-2663,
    .em-activity-2660,
    .em-activity-265f,
    .em-activity-1faa2,
    .em-activity-1faa1,
    .em-activity-1fa86,
    .em-activity-1fa85,
    .em-activity-1fa84,
    .em-activity-1fa81,
    .em-activity-1fa80,
    .em-activity-1f9ff,
    .em-activity-1f9f8,
    .em-activity-1f9f6,
    .em-activity-1f9f5,
    .em-activity-1f9e9,
    .em-activity-1f9e8,
    .em-activity-1f9e7,
    .em-activity-1f94f,
    .em-activity-1f94e,
    .em-activity-1f94d,
    .em-activity-1f94c,
    .em-activity-1f94b,
    .em-activity-1f94a,
    .em-activity-1f949,
    .em-activity-1f948,
    .em-activity-1f947,
    .em-activity-1f945,
    .em-activity-1f93f,
    .em-activity-1f6f7,
    .em-activity-1f5bc,
    .em-activity-1f579,
    .em-activity-1f52e,
    .em-activity-1f3f8,
    .em-activity-1f3d3,
    .em-activity-1f3d2,
    .em-activity-1f3d1,
    .em-activity-1f3d0,
    .em-activity-1f3cf,
    .em-activity-1f3c9,
    .em-activity-1f3c8,
    .em-activity-1f3c6,
    .em-activity-1f3c5,
    .em-activity-1f3c0,
    .em-activity-1f3bf,
    .em-activity-1f3be,
    .em-activity-1f3bd,
    .em-activity-1f3b4,
    .em-activity-1f3b3,
    .em-activity-1f3b2,
    .em-activity-1f3b1,
    .em-activity-1f3b0,
    .em-activity-1f3af,
    .em-activity-1f3ae,
    .em-activity-1f3ad,
    .em-activity-1f3ab,
    .em-activity-1f3a8,
    .em-activity-1f3a3,
    .em-activity-1f39f,
    .em-activity-1f397,
    .em-activity-1f396,
    .em-activity-1f391,
    .em-activity-1f390,
    .em-activity-1f38f,
    .em-activity-1f38e,
    .em-activity-1f38d,
    .em-activity-1f38b,
    .em-activity-1f38a,
    .em-activity-1f389,
    .em-activity-1f388,
    .em-activity-1f387,
    .em-activity-1f386,
    .em-activity-1f384,
    .em-activity-1f383,
    .em-activity-1f381,
    .em-activity-1f380,
    .em-activity-1f0cf,
    .em-activity-1f004 {
                background-image: url('activity@2x.png?89fbd18a6a');
                -webkit-background-size: 340px 306px;
                -moz-background-size: 340px 306px;
                background-size: 340px 306px;
            }
        }
        