/* glue: 0.13 hash: 07a5c89d23 */
        .em-food-2615,
.em-food-1fad6,
.em-food-1fad5,
.em-food-1fad4,
.em-food-1fad3,
.em-food-1fad2,
.em-food-1fad1,
.em-food-1fad0,
.em-food-1f9cb,
.em-food-1f9ca,
.em-food-1f9c9,
.em-food-1f9c8,
.em-food-1f9c7,
.em-food-1f9c6,
.em-food-1f9c5,
.em-food-1f9c4,
.em-food-1f9c3,
.em-food-1f9c2,
.em-food-1f9c1,
.em-food-1f9c0,
.em-food-1f9aa,
.em-food-1f99e,
.em-food-1f991,
.em-food-1f990,
.em-food-1f980,
.em-food-1f96f,
.em-food-1f96e,
.em-food-1f96d,
.em-food-1f96c,
.em-food-1f96b,
.em-food-1f96a,
.em-food-1f969,
.em-food-1f968,
.em-food-1f967,
.em-food-1f966,
.em-food-1f965,
.em-food-1f964,
.em-food-1f963,
.em-food-1f962,
.em-food-1f961,
.em-food-1f960,
.em-food-1f95f,
.em-food-1f95e,
.em-food-1f95d,
.em-food-1f95c,
.em-food-1f95b,
.em-food-1f95a,
.em-food-1f959,
.em-food-1f958,
.em-food-1f957,
.em-food-1f956,
.em-food-1f955,
.em-food-1f954,
.em-food-1f953,
.em-food-1f952,
.em-food-1f951,
.em-food-1f950,
.em-food-1f944,
.em-food-1f943,
.em-food-1f942,
.em-food-1f52a,
.em-food-1f3fa,
.em-food-1f382,
.em-food-1f37f,
.em-food-1f37e,
.em-food-1f37d,
.em-food-1f37c,
.em-food-1f37b,
.em-food-1f37a,
.em-food-1f379,
.em-food-1f378,
.em-food-1f377,
.em-food-1f376,
.em-food-1f375,
.em-food-1f374,
.em-food-1f373,
.em-food-1f372,
.em-food-1f371,
.em-food-1f370,
.em-food-1f36f,
.em-food-1f36e,
.em-food-1f36d,
.em-food-1f36c,
.em-food-1f36b,
.em-food-1f36a,
.em-food-1f369,
.em-food-1f368,
.em-food-1f367,
.em-food-1f366,
.em-food-1f365,
.em-food-1f364,
.em-food-1f363,
.em-food-1f362,
.em-food-1f361,
.em-food-1f360,
.em-food-1f35f,
.em-food-1f35e,
.em-food-1f35d,
.em-food-1f35c,
.em-food-1f35b,
.em-food-1f35a,
.em-food-1f359,
.em-food-1f358,
.em-food-1f357,
.em-food-1f356,
.em-food-1f355,
.em-food-1f354,
.em-food-1f353,
.em-food-1f352,
.em-food-1f351,
.em-food-1f350,
.em-food-1f34f,
.em-food-1f34e,
.em-food-1f34d,
.em-food-1f34c,
.em-food-1f34b,
.em-food-1f34a,
.em-food-1f349,
.em-food-1f348,
.em-food-1f347,
.em-food-1f346,
.em-food-1f345,
.em-food-1f344,
.em-food-1f33d,
.em-food-1f336,
.em-food-1f330,
.em-food-1f32f,
.em-food-1f32e,
.em-food-1f32d {
            background-image: url('food.png?07a5c89d23');
            background-repeat: no-repeat;
        }
        
        .em-food-2615 {
            background-position: -1px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1fad6 {
            background-position: -35px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1fad5 {
            background-position: -1px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1fad4 {
            background-position: -35px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1fad3 {
            background-position: -69px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1fad2 {
            background-position: -69px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1fad1 {
            background-position: -1px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1fad0 {
            background-position: -35px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9cb {
            background-position: -69px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9ca {
            background-position: -103px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c9 {
            background-position: -103px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c8 {
            background-position: -103px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c7 {
            background-position: -1px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c6 {
            background-position: -35px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c5 {
            background-position: -69px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c4 {
            background-position: -103px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c3 {
            background-position: -137px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c2 {
            background-position: -137px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c1 {
            background-position: -137px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9c0 {
            background-position: -137px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f9aa {
            background-position: -1px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f99e {
            background-position: -35px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f991 {
            background-position: -69px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f990 {
            background-position: -103px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f980 {
            background-position: -137px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f96f {
            background-position: -171px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f96e {
            background-position: -171px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f96d {
            background-position: -171px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f96c {
            background-position: -171px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f96b {
            background-position: -171px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f96a {
            background-position: -1px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f969 {
            background-position: -35px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f968 {
            background-position: -69px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f967 {
            background-position: -103px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f966 {
            background-position: -137px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f965 {
            background-position: -171px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f964 {
            background-position: -205px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f963 {
            background-position: -205px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f962 {
            background-position: -205px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f961 {
            background-position: -205px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f960 {
            background-position: -205px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f95f {
            background-position: -205px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f95e {
            background-position: -1px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f95d {
            background-position: -35px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f95c {
            background-position: -69px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f95b {
            background-position: -103px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f95a {
            background-position: -137px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f959 {
            background-position: -171px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f958 {
            background-position: -205px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f957 {
            background-position: -239px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f956 {
            background-position: -239px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f955 {
            background-position: -239px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f954 {
            background-position: -239px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f953 {
            background-position: -239px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f952 {
            background-position: -239px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f951 {
            background-position: -239px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f950 {
            background-position: -1px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f944 {
            background-position: -35px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f943 {
            background-position: -69px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f942 {
            background-position: -103px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f52a {
            background-position: -137px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f3fa {
            background-position: -171px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f382 {
            background-position: -205px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f37f {
            background-position: -239px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f37e {
            background-position: -273px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f37d {
            background-position: -273px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f37c {
            background-position: -273px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f37b {
            background-position: -273px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f37a {
            background-position: -273px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f379 {
            background-position: -273px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f378 {
            background-position: -273px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f377 {
            background-position: -273px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f376 {
            background-position: -1px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f375 {
            background-position: -35px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f374 {
            background-position: -69px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f373 {
            background-position: -103px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f372 {
            background-position: -137px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f371 {
            background-position: -171px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f370 {
            background-position: -205px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f36f {
            background-position: -239px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f36e {
            background-position: -273px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f36d {
            background-position: -307px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f36c {
            background-position: -307px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f36b {
            background-position: -307px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f36a {
            background-position: -307px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f369 {
            background-position: -307px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f368 {
            background-position: -307px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f367 {
            background-position: -307px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f366 {
            background-position: -307px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f365 {
            background-position: -307px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f364 {
            background-position: -1px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f363 {
            background-position: -35px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f362 {
            background-position: -69px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f361 {
            background-position: -103px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f360 {
            background-position: -137px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f35f {
            background-position: -171px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f35e {
            background-position: -205px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f35d {
            background-position: -239px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f35c {
            background-position: -273px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f35b {
            background-position: -307px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f35a {
            background-position: -341px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f359 {
            background-position: -341px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f358 {
            background-position: -341px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f357 {
            background-position: -341px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f356 {
            background-position: -341px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f355 {
            background-position: -341px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f354 {
            background-position: -341px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f353 {
            background-position: -341px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f352 {
            background-position: -341px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f351 {
            background-position: -341px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f350 {
            background-position: -1px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f34f {
            background-position: -35px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f34e {
            background-position: -69px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f34d {
            background-position: -103px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f34c {
            background-position: -137px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f34b {
            background-position: -171px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f34a {
            background-position: -205px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f349 {
            background-position: -239px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f348 {
            background-position: -273px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f347 {
            background-position: -307px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f346 {
            background-position: -341px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f345 {
            background-position: -375px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f344 {
            background-position: -375px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f33d {
            background-position: -375px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f336 {
            background-position: -375px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f330 {
            background-position: -375px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f32f {
            background-position: -375px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f32e {
            background-position: -375px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-food-1f32d {
            background-position: -375px -239px;
            width: 32px;
            height: 32px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .em-food-2615,
    .em-food-1fad6,
    .em-food-1fad5,
    .em-food-1fad4,
    .em-food-1fad3,
    .em-food-1fad2,
    .em-food-1fad1,
    .em-food-1fad0,
    .em-food-1f9cb,
    .em-food-1f9ca,
    .em-food-1f9c9,
    .em-food-1f9c8,
    .em-food-1f9c7,
    .em-food-1f9c6,
    .em-food-1f9c5,
    .em-food-1f9c4,
    .em-food-1f9c3,
    .em-food-1f9c2,
    .em-food-1f9c1,
    .em-food-1f9c0,
    .em-food-1f9aa,
    .em-food-1f99e,
    .em-food-1f991,
    .em-food-1f990,
    .em-food-1f980,
    .em-food-1f96f,
    .em-food-1f96e,
    .em-food-1f96d,
    .em-food-1f96c,
    .em-food-1f96b,
    .em-food-1f96a,
    .em-food-1f969,
    .em-food-1f968,
    .em-food-1f967,
    .em-food-1f966,
    .em-food-1f965,
    .em-food-1f964,
    .em-food-1f963,
    .em-food-1f962,
    .em-food-1f961,
    .em-food-1f960,
    .em-food-1f95f,
    .em-food-1f95e,
    .em-food-1f95d,
    .em-food-1f95c,
    .em-food-1f95b,
    .em-food-1f95a,
    .em-food-1f959,
    .em-food-1f958,
    .em-food-1f957,
    .em-food-1f956,
    .em-food-1f955,
    .em-food-1f954,
    .em-food-1f953,
    .em-food-1f952,
    .em-food-1f951,
    .em-food-1f950,
    .em-food-1f944,
    .em-food-1f943,
    .em-food-1f942,
    .em-food-1f52a,
    .em-food-1f3fa,
    .em-food-1f382,
    .em-food-1f37f,
    .em-food-1f37e,
    .em-food-1f37d,
    .em-food-1f37c,
    .em-food-1f37b,
    .em-food-1f37a,
    .em-food-1f379,
    .em-food-1f378,
    .em-food-1f377,
    .em-food-1f376,
    .em-food-1f375,
    .em-food-1f374,
    .em-food-1f373,
    .em-food-1f372,
    .em-food-1f371,
    .em-food-1f370,
    .em-food-1f36f,
    .em-food-1f36e,
    .em-food-1f36d,
    .em-food-1f36c,
    .em-food-1f36b,
    .em-food-1f36a,
    .em-food-1f369,
    .em-food-1f368,
    .em-food-1f367,
    .em-food-1f366,
    .em-food-1f365,
    .em-food-1f364,
    .em-food-1f363,
    .em-food-1f362,
    .em-food-1f361,
    .em-food-1f360,
    .em-food-1f35f,
    .em-food-1f35e,
    .em-food-1f35d,
    .em-food-1f35c,
    .em-food-1f35b,
    .em-food-1f35a,
    .em-food-1f359,
    .em-food-1f358,
    .em-food-1f357,
    .em-food-1f356,
    .em-food-1f355,
    .em-food-1f354,
    .em-food-1f353,
    .em-food-1f352,
    .em-food-1f351,
    .em-food-1f350,
    .em-food-1f34f,
    .em-food-1f34e,
    .em-food-1f34d,
    .em-food-1f34c,
    .em-food-1f34b,
    .em-food-1f34a,
    .em-food-1f349,
    .em-food-1f348,
    .em-food-1f347,
    .em-food-1f346,
    .em-food-1f345,
    .em-food-1f344,
    .em-food-1f33d,
    .em-food-1f336,
    .em-food-1f330,
    .em-food-1f32f,
    .em-food-1f32e,
    .em-food-1f32d {
                background-image: url('food.png?07a5c89d23');
                -webkit-background-size: 408px 374px;
                -moz-background-size: 408px 374px;
                background-size: 408px 374px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .em-food-2615,
    .em-food-1fad6,
    .em-food-1fad5,
    .em-food-1fad4,
    .em-food-1fad3,
    .em-food-1fad2,
    .em-food-1fad1,
    .em-food-1fad0,
    .em-food-1f9cb,
    .em-food-1f9ca,
    .em-food-1f9c9,
    .em-food-1f9c8,
    .em-food-1f9c7,
    .em-food-1f9c6,
    .em-food-1f9c5,
    .em-food-1f9c4,
    .em-food-1f9c3,
    .em-food-1f9c2,
    .em-food-1f9c1,
    .em-food-1f9c0,
    .em-food-1f9aa,
    .em-food-1f99e,
    .em-food-1f991,
    .em-food-1f990,
    .em-food-1f980,
    .em-food-1f96f,
    .em-food-1f96e,
    .em-food-1f96d,
    .em-food-1f96c,
    .em-food-1f96b,
    .em-food-1f96a,
    .em-food-1f969,
    .em-food-1f968,
    .em-food-1f967,
    .em-food-1f966,
    .em-food-1f965,
    .em-food-1f964,
    .em-food-1f963,
    .em-food-1f962,
    .em-food-1f961,
    .em-food-1f960,
    .em-food-1f95f,
    .em-food-1f95e,
    .em-food-1f95d,
    .em-food-1f95c,
    .em-food-1f95b,
    .em-food-1f95a,
    .em-food-1f959,
    .em-food-1f958,
    .em-food-1f957,
    .em-food-1f956,
    .em-food-1f955,
    .em-food-1f954,
    .em-food-1f953,
    .em-food-1f952,
    .em-food-1f951,
    .em-food-1f950,
    .em-food-1f944,
    .em-food-1f943,
    .em-food-1f942,
    .em-food-1f52a,
    .em-food-1f3fa,
    .em-food-1f382,
    .em-food-1f37f,
    .em-food-1f37e,
    .em-food-1f37d,
    .em-food-1f37c,
    .em-food-1f37b,
    .em-food-1f37a,
    .em-food-1f379,
    .em-food-1f378,
    .em-food-1f377,
    .em-food-1f376,
    .em-food-1f375,
    .em-food-1f374,
    .em-food-1f373,
    .em-food-1f372,
    .em-food-1f371,
    .em-food-1f370,
    .em-food-1f36f,
    .em-food-1f36e,
    .em-food-1f36d,
    .em-food-1f36c,
    .em-food-1f36b,
    .em-food-1f36a,
    .em-food-1f369,
    .em-food-1f368,
    .em-food-1f367,
    .em-food-1f366,
    .em-food-1f365,
    .em-food-1f364,
    .em-food-1f363,
    .em-food-1f362,
    .em-food-1f361,
    .em-food-1f360,
    .em-food-1f35f,
    .em-food-1f35e,
    .em-food-1f35d,
    .em-food-1f35c,
    .em-food-1f35b,
    .em-food-1f35a,
    .em-food-1f359,
    .em-food-1f358,
    .em-food-1f357,
    .em-food-1f356,
    .em-food-1f355,
    .em-food-1f354,
    .em-food-1f353,
    .em-food-1f352,
    .em-food-1f351,
    .em-food-1f350,
    .em-food-1f34f,
    .em-food-1f34e,
    .em-food-1f34d,
    .em-food-1f34c,
    .em-food-1f34b,
    .em-food-1f34a,
    .em-food-1f349,
    .em-food-1f348,
    .em-food-1f347,
    .em-food-1f346,
    .em-food-1f345,
    .em-food-1f344,
    .em-food-1f33d,
    .em-food-1f336,
    .em-food-1f330,
    .em-food-1f32f,
    .em-food-1f32e,
    .em-food-1f32d {
                background-image: url('food@2x.png?07a5c89d23');
                -webkit-background-size: 408px 374px;
                -moz-background-size: 408px 374px;
                background-size: 408px 374px;
            }
        }
        