/* glue: 0.13 hash: c912819992 */
        .em-travel-2708,
.em-travel-26fd,
.em-travel-26fa,
.em-travel-26f5,
.em-travel-26f4,
.em-travel-26f2,
.em-travel-26f1,
.em-travel-26f0,
.em-travel-26ea,
.em-travel-26e9,
.em-travel-2693,
.em-travel-1f9f3,
.em-travel-1f9e8,
.em-travel-1f6f8,
.em-travel-1f6f6,
.em-travel-1f6f5,
.em-travel-1f6f4,
.em-travel-1f6f3,
.em-travel-1f6f0,
.em-travel-1f6ec,
.em-travel-1f6eb,
.em-travel-1f6e9,
.em-travel-1f6e5,
.em-travel-1f6e4,
.em-travel-1f6e3,
.em-travel-1f6b2,
.em-travel-1f6a8,
.em-travel-1f6a7,
.em-travel-1f6a6,
.em-travel-1f6a5,
.em-travel-1f6a4,
.em-travel-1f6a2,
.em-travel-1f6a1,
.em-travel-1f6a0,
.em-travel-1f69f,
.em-travel-1f69e,
.em-travel-1f69d,
.em-travel-1f69c,
.em-travel-1f69b,
.em-travel-1f69a,
.em-travel-1f699,
.em-travel-1f698,
.em-travel-1f697,
.em-travel-1f696,
.em-travel-1f695,
.em-travel-1f694,
.em-travel-1f693,
.em-travel-1f692,
.em-travel-1f691,
.em-travel-1f690,
.em-travel-1f68f,
.em-travel-1f68e,
.em-travel-1f68d,
.em-travel-1f68c,
.em-travel-1f68b,
.em-travel-1f68a,
.em-travel-1f689,
.em-travel-1f688,
.em-travel-1f687,
.em-travel-1f686,
.em-travel-1f685,
.em-travel-1f684,
.em-travel-1f683,
.em-travel-1f682,
.em-travel-1f681,
.em-travel-1f680,
.em-travel-1f5ff,
.em-travel-1f5fe,
.em-travel-1f5fd,
.em-travel-1f5fc,
.em-travel-1f5fb,
.em-travel-1f5fa,
.em-travel-1f54d,
.em-travel-1f54c,
.em-travel-1f54b,
.em-travel-1f4ba,
.em-travel-1f492,
.em-travel-1f3f0,
.em-travel-1f3ef,
.em-travel-1f3ed,
.em-travel-1f3ec,
.em-travel-1f3eb,
.em-travel-1f3ea,
.em-travel-1f3e9,
.em-travel-1f3e8,
.em-travel-1f3e6,
.em-travel-1f3e5,
.em-travel-1f3e4,
.em-travel-1f3e3,
.em-travel-1f3e2,
.em-travel-1f3e1,
.em-travel-1f3e0,
.em-travel-1f3df,
.em-travel-1f3de,
.em-travel-1f3dd,
.em-travel-1f3dc,
.em-travel-1f3db,
.em-travel-1f3da,
.em-travel-1f3d9,
.em-travel-1f3d8,
.em-travel-1f3d7,
.em-travel-1f3d6,
.em-travel-1f3d5,
.em-travel-1f3d4,
.em-travel-1f3ce,
.em-travel-1f3cd,
.em-travel-1f3a2,
.em-travel-1f3a1,
.em-travel-1f3a0,
.em-travel-1f391,
.em-travel-1f387,
.em-travel-1f386,
.em-travel-1f320,
.em-travel-1f30c,
.em-travel-1f30b,
.em-travel-1f309,
.em-travel-1f307,
.em-travel-1f306,
.em-travel-1f305,
.em-travel-1f304,
.em-travel-1f303,
.em-travel-1f301 {
            background-image: url('travel.png?c912819992');
            background-repeat: no-repeat;
        }
        
        .em-travel-2708 {
            background-position: -1px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-26fd {
            background-position: -35px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-26fa {
            background-position: -1px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-26f5 {
            background-position: -35px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-26f4 {
            background-position: -69px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-26f2 {
            background-position: -69px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-26f1 {
            background-position: -1px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-26f0 {
            background-position: -35px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-26ea {
            background-position: -69px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-26e9 {
            background-position: -103px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-2693 {
            background-position: -103px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f9f3 {
            background-position: -103px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f9e8 {
            background-position: -1px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6f8 {
            background-position: -35px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6f6 {
            background-position: -69px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6f5 {
            background-position: -103px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6f4 {
            background-position: -137px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6f3 {
            background-position: -137px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6f0 {
            background-position: -137px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6ec {
            background-position: -137px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6eb {
            background-position: -1px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6e9 {
            background-position: -35px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6e5 {
            background-position: -69px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6e4 {
            background-position: -103px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6e3 {
            background-position: -137px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6b2 {
            background-position: -171px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6a8 {
            background-position: -171px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6a7 {
            background-position: -171px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6a6 {
            background-position: -171px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6a5 {
            background-position: -171px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6a4 {
            background-position: -1px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6a2 {
            background-position: -35px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6a1 {
            background-position: -69px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f6a0 {
            background-position: -103px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f69f {
            background-position: -137px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f69e {
            background-position: -171px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f69d {
            background-position: -205px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f69c {
            background-position: -205px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f69b {
            background-position: -205px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f69a {
            background-position: -205px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f699 {
            background-position: -205px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f698 {
            background-position: -205px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f697 {
            background-position: -1px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f696 {
            background-position: -35px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f695 {
            background-position: -69px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f694 {
            background-position: -103px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f693 {
            background-position: -137px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f692 {
            background-position: -171px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f691 {
            background-position: -205px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f690 {
            background-position: -239px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f68f {
            background-position: -239px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f68e {
            background-position: -239px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f68d {
            background-position: -239px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f68c {
            background-position: -239px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f68b {
            background-position: -239px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f68a {
            background-position: -239px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f689 {
            background-position: -1px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f688 {
            background-position: -35px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f687 {
            background-position: -69px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f686 {
            background-position: -103px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f685 {
            background-position: -137px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f684 {
            background-position: -171px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f683 {
            background-position: -205px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f682 {
            background-position: -239px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f681 {
            background-position: -273px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f680 {
            background-position: -273px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f5ff {
            background-position: -273px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f5fe {
            background-position: -273px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f5fd {
            background-position: -273px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f5fc {
            background-position: -273px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f5fb {
            background-position: -273px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f5fa {
            background-position: -273px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f54d {
            background-position: -1px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f54c {
            background-position: -35px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f54b {
            background-position: -69px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f4ba {
            background-position: -103px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f492 {
            background-position: -137px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3f0 {
            background-position: -171px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3ef {
            background-position: -205px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3ed {
            background-position: -239px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3ec {
            background-position: -273px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3eb {
            background-position: -307px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3ea {
            background-position: -307px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3e9 {
            background-position: -307px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3e8 {
            background-position: -307px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3e6 {
            background-position: -307px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3e5 {
            background-position: -307px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3e4 {
            background-position: -307px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3e3 {
            background-position: -307px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3e2 {
            background-position: -307px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3e1 {
            background-position: -1px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3e0 {
            background-position: -35px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3df {
            background-position: -69px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3de {
            background-position: -103px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3dd {
            background-position: -137px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3dc {
            background-position: -171px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3db {
            background-position: -205px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3da {
            background-position: -239px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3d9 {
            background-position: -273px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3d8 {
            background-position: -307px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3d7 {
            background-position: -341px -1px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3d6 {
            background-position: -341px -35px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3d5 {
            background-position: -341px -69px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3d4 {
            background-position: -341px -103px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3ce {
            background-position: -341px -137px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3cd {
            background-position: -341px -171px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3a2 {
            background-position: -341px -205px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3a1 {
            background-position: -341px -239px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f3a0 {
            background-position: -341px -273px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f391 {
            background-position: -341px -307px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f387 {
            background-position: -1px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f386 {
            background-position: -35px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f320 {
            background-position: -69px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f30c {
            background-position: -103px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f30b {
            background-position: -137px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f309 {
            background-position: -171px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f307 {
            background-position: -205px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f306 {
            background-position: -239px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f305 {
            background-position: -273px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f304 {
            background-position: -307px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f303 {
            background-position: -341px -341px;
            width: 32px;
            height: 32px;
        }
        
        .em-travel-1f301 {
            background-position: -375px -1px;
            width: 32px;
            height: 32px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .em-travel-2708,
    .em-travel-26fd,
    .em-travel-26fa,
    .em-travel-26f5,
    .em-travel-26f4,
    .em-travel-26f2,
    .em-travel-26f1,
    .em-travel-26f0,
    .em-travel-26ea,
    .em-travel-26e9,
    .em-travel-2693,
    .em-travel-1f9f3,
    .em-travel-1f9e8,
    .em-travel-1f6f8,
    .em-travel-1f6f6,
    .em-travel-1f6f5,
    .em-travel-1f6f4,
    .em-travel-1f6f3,
    .em-travel-1f6f0,
    .em-travel-1f6ec,
    .em-travel-1f6eb,
    .em-travel-1f6e9,
    .em-travel-1f6e5,
    .em-travel-1f6e4,
    .em-travel-1f6e3,
    .em-travel-1f6b2,
    .em-travel-1f6a8,
    .em-travel-1f6a7,
    .em-travel-1f6a6,
    .em-travel-1f6a5,
    .em-travel-1f6a4,
    .em-travel-1f6a2,
    .em-travel-1f6a1,
    .em-travel-1f6a0,
    .em-travel-1f69f,
    .em-travel-1f69e,
    .em-travel-1f69d,
    .em-travel-1f69c,
    .em-travel-1f69b,
    .em-travel-1f69a,
    .em-travel-1f699,
    .em-travel-1f698,
    .em-travel-1f697,
    .em-travel-1f696,
    .em-travel-1f695,
    .em-travel-1f694,
    .em-travel-1f693,
    .em-travel-1f692,
    .em-travel-1f691,
    .em-travel-1f690,
    .em-travel-1f68f,
    .em-travel-1f68e,
    .em-travel-1f68d,
    .em-travel-1f68c,
    .em-travel-1f68b,
    .em-travel-1f68a,
    .em-travel-1f689,
    .em-travel-1f688,
    .em-travel-1f687,
    .em-travel-1f686,
    .em-travel-1f685,
    .em-travel-1f684,
    .em-travel-1f683,
    .em-travel-1f682,
    .em-travel-1f681,
    .em-travel-1f680,
    .em-travel-1f5ff,
    .em-travel-1f5fe,
    .em-travel-1f5fd,
    .em-travel-1f5fc,
    .em-travel-1f5fb,
    .em-travel-1f5fa,
    .em-travel-1f54d,
    .em-travel-1f54c,
    .em-travel-1f54b,
    .em-travel-1f4ba,
    .em-travel-1f492,
    .em-travel-1f3f0,
    .em-travel-1f3ef,
    .em-travel-1f3ed,
    .em-travel-1f3ec,
    .em-travel-1f3eb,
    .em-travel-1f3ea,
    .em-travel-1f3e9,
    .em-travel-1f3e8,
    .em-travel-1f3e6,
    .em-travel-1f3e5,
    .em-travel-1f3e4,
    .em-travel-1f3e3,
    .em-travel-1f3e2,
    .em-travel-1f3e1,
    .em-travel-1f3e0,
    .em-travel-1f3df,
    .em-travel-1f3de,
    .em-travel-1f3dd,
    .em-travel-1f3dc,
    .em-travel-1f3db,
    .em-travel-1f3da,
    .em-travel-1f3d9,
    .em-travel-1f3d8,
    .em-travel-1f3d7,
    .em-travel-1f3d6,
    .em-travel-1f3d5,
    .em-travel-1f3d4,
    .em-travel-1f3ce,
    .em-travel-1f3cd,
    .em-travel-1f3a2,
    .em-travel-1f3a1,
    .em-travel-1f3a0,
    .em-travel-1f391,
    .em-travel-1f387,
    .em-travel-1f386,
    .em-travel-1f320,
    .em-travel-1f30c,
    .em-travel-1f30b,
    .em-travel-1f309,
    .em-travel-1f307,
    .em-travel-1f306,
    .em-travel-1f305,
    .em-travel-1f304,
    .em-travel-1f303,
    .em-travel-1f301 {
                background-image: url('travel.png?c912819992');
                -webkit-background-size: 408px 374px;
                -moz-background-size: 408px 374px;
                background-size: 408px 374px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .em-travel-2708,
    .em-travel-26fd,
    .em-travel-26fa,
    .em-travel-26f5,
    .em-travel-26f4,
    .em-travel-26f2,
    .em-travel-26f1,
    .em-travel-26f0,
    .em-travel-26ea,
    .em-travel-26e9,
    .em-travel-2693,
    .em-travel-1f9f3,
    .em-travel-1f9e8,
    .em-travel-1f6f8,
    .em-travel-1f6f6,
    .em-travel-1f6f5,
    .em-travel-1f6f4,
    .em-travel-1f6f3,
    .em-travel-1f6f0,
    .em-travel-1f6ec,
    .em-travel-1f6eb,
    .em-travel-1f6e9,
    .em-travel-1f6e5,
    .em-travel-1f6e4,
    .em-travel-1f6e3,
    .em-travel-1f6b2,
    .em-travel-1f6a8,
    .em-travel-1f6a7,
    .em-travel-1f6a6,
    .em-travel-1f6a5,
    .em-travel-1f6a4,
    .em-travel-1f6a2,
    .em-travel-1f6a1,
    .em-travel-1f6a0,
    .em-travel-1f69f,
    .em-travel-1f69e,
    .em-travel-1f69d,
    .em-travel-1f69c,
    .em-travel-1f69b,
    .em-travel-1f69a,
    .em-travel-1f699,
    .em-travel-1f698,
    .em-travel-1f697,
    .em-travel-1f696,
    .em-travel-1f695,
    .em-travel-1f694,
    .em-travel-1f693,
    .em-travel-1f692,
    .em-travel-1f691,
    .em-travel-1f690,
    .em-travel-1f68f,
    .em-travel-1f68e,
    .em-travel-1f68d,
    .em-travel-1f68c,
    .em-travel-1f68b,
    .em-travel-1f68a,
    .em-travel-1f689,
    .em-travel-1f688,
    .em-travel-1f687,
    .em-travel-1f686,
    .em-travel-1f685,
    .em-travel-1f684,
    .em-travel-1f683,
    .em-travel-1f682,
    .em-travel-1f681,
    .em-travel-1f680,
    .em-travel-1f5ff,
    .em-travel-1f5fe,
    .em-travel-1f5fd,
    .em-travel-1f5fc,
    .em-travel-1f5fb,
    .em-travel-1f5fa,
    .em-travel-1f54d,
    .em-travel-1f54c,
    .em-travel-1f54b,
    .em-travel-1f4ba,
    .em-travel-1f492,
    .em-travel-1f3f0,
    .em-travel-1f3ef,
    .em-travel-1f3ed,
    .em-travel-1f3ec,
    .em-travel-1f3eb,
    .em-travel-1f3ea,
    .em-travel-1f3e9,
    .em-travel-1f3e8,
    .em-travel-1f3e6,
    .em-travel-1f3e5,
    .em-travel-1f3e4,
    .em-travel-1f3e3,
    .em-travel-1f3e2,
    .em-travel-1f3e1,
    .em-travel-1f3e0,
    .em-travel-1f3df,
    .em-travel-1f3de,
    .em-travel-1f3dd,
    .em-travel-1f3dc,
    .em-travel-1f3db,
    .em-travel-1f3da,
    .em-travel-1f3d9,
    .em-travel-1f3d8,
    .em-travel-1f3d7,
    .em-travel-1f3d6,
    .em-travel-1f3d5,
    .em-travel-1f3d4,
    .em-travel-1f3ce,
    .em-travel-1f3cd,
    .em-travel-1f3a2,
    .em-travel-1f3a1,
    .em-travel-1f3a0,
    .em-travel-1f391,
    .em-travel-1f387,
    .em-travel-1f386,
    .em-travel-1f320,
    .em-travel-1f30c,
    .em-travel-1f30b,
    .em-travel-1f309,
    .em-travel-1f307,
    .em-travel-1f306,
    .em-travel-1f305,
    .em-travel-1f304,
    .em-travel-1f303,
    .em-travel-1f301 {
                background-image: url('travel@2x.png?c912819992');
                -webkit-background-size: 408px 374px;
                -moz-background-size: 408px 374px;
                background-size: 408px 374px;
            }
        }
        