<md-dialog aria-label="About">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>messenger.ABOUT</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Close dialog" class="material-icons md-24">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p>
                    Threema Web &copy; 2016&ndash;2018 Threema GmbH.
                    <span translate>about.ALL_RIGHTS_RESERVED</span>
                </p>

                <p><a href="https://threema.ch/">https://threema.ch/</a></p>

                <h2>Open Source</h2>
                <p translate>about.OPEN_SOURCE</p>
                <p>
                    <span translate>about.SOURCE_CODE</span>
                    <a href="https://github.com/threema-ch/threema-web"
                       target="_blank" rel="noopener noreferrer">https://github.com/threema-ch/threema-web</a>.
                </p>

                <h2 translate>about.CHANGELOG</h2>
                <p>
                    <span translate>about.CHANGELOG_LINK_BEFORE</span>
                    <a href="https://github.com/threema-ch/threema-web/blob/{{ ctrl.config.GIT_BRANCH }}/CHANGELOG.md"
                       target="_blank" rel="noopener noreferrer" translate>about.CHANGELOG_LINK_TEXT</a><span translate>about.CHANGELOG_LINK_AFTER</span>
                </p>

                <h2 translate>about.LICENSES</h2>
                <ul>
                    <li translate>about.EMOJI_ART</li>
                    <li>
                        <span translate>about.LICENSE_LINK_BEFORE</span>
                        <a href="https://github.com/threema-ch/threema-web/blob/{{ ctrl.config.GIT_BRANCH }}/LICENSE-3RD-PARTY.txt"
                           target="_blank" rel="noopener noreferrer" translate>about.LICENSE_LINK_TEXT</a>
                        <span translate>about.LICENSE_LINK_AFTER</span>
                    </li>
                    <li translate>about.NOTIFICATION_SOUND</li>
                </ul>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="ctrl.cancel()"><span translate>common.CLOSE</span></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

