<md-dialog aria-label="About">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Close dialog" class="material-icons md-24">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section>
                    <md-subheader class="md-primary"><span translate>settings.APPEARANCE</span></md-subheader>
                        <md-switch ng-model="ctrl.theme" ng-true-value="'Dark'" ng-false-value="'Bright'" aria-label="Theme" ng-change="ctrl.setTheme(ctrl.theme)">
                            <span translate>settings.THEME</span> {{ctrl.theme}}
                        </md-switch>
                </section>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

