<md-dialog aria-label="Settings">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>settings.SETTINGS</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Close dialog" class="material-icons md-24">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section>
                    <md-subheader class="md-primary"><span translate>settings.notifications.NOTIFICATIONS</span></md-subheader>
                            <md-checkbox ng-disabled="ctrl.getNotificationPermission() == null" ng-model="ctrl.desktopNotifications" ng-change="ctrl.setWantsNotifications(ctrl.desktopNotifications)" layout-padding>
                                <span translate>settings.notifications.SHOW_NOTIFICATIONS</span>
                            </md-checkbox>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="ctrl.cancel()">
                <span translate>common.OK</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

