<div class="form readonly">
    <div id="receiver-detail-header" class="detail-header">
        <ng-include src="'partials/messenger.backbutton.html'"></ng-include>
        <div class="header-details">
            <h2 ng-bind-html="ctrl.controllerModel.subject | escapeHtml | emojify"></h2>
        </div>

        <div class="header-buttons">
            <md-button aria-label="chat" class="md-icon-button" ng-show="ctrl.controllerModel.canEdit()" ng-click="ctrl.edit()">
                <md-icon class="material-icons md-24">mode_edit</md-icon>
            </md-button>

            <md-button aria-label="edit" class="md-icon-button" ng-show="ctrl.controllerModel.canChat()" ng-click="ctrl.chat()">
                <md-icon class="material-icons md-24">message</md-icon>
            </md-button>
        </div>
    </div>
    <div class="detail-content">
        <div ng-include src="'partials/messenger.receiver/' + ctrl.receiver.type + '.html'" scroll-glue in-view-container>
        </div>
    </div>
</div>
