.avatar-editor {
    $avatar-size: 250px;

    &.is-dragover {
        .avatar-editor-drag {
            border-color: #000000 !important;
        }
    }

    .avatar-editor-drag {
        margin: auto !important;
        width: $avatar-size;
        height: $avatar-size;

        &:not(.has-image) {
            border: 5px dotted #808080;
        }
    }
}
