.avatar {
    &.avatar-low {
        > img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }
    &.avatar-high {

        max-width: 540px;
        max-height: 540px;
    }

    &.is-loading {
        //show default blured
        .avatar-default {
            &.avatar-high {
                filter: blur(40px);
                border-radius: 0;
            }
        }
    }
    .avatar-loading {
        position: absolute;
        width: 100%;
        height: 100%;

        md-progress-circular {
            z-index: 10;
            display: inline;
            position: relative;

            // Progress circle diameter is hardcoded as 100px in avatar.ts
            $circle-diameter: 100px;
            left: calc(50% - #{$circle-diameter / 2});
            top: calc(50% - #{$circle-diameter / 2});
        }
    }
    > img {
        width: 100%;
    }


}
