.avatar-area {
    &.overview {
        $avatar-area-size: 250px;
        display: inline-block;
        text-align: center;

        > .avatar-image {
            position: relative;
            margin: auto;
            border-radius: 50%;
            background-color: $avatar-background-color;
            width: $avatar-area-size;
            height: $avatar-area-size;
            overflow: hidden;

            img {
                width: 100%;
            }

            .loading-element {
                display: none;
                position: absolute;
                margin-top: $avatar-area-size / 3;
                width: 100%;

                &.active {
                    display: block;
                }
            }
        }
    }
}
