.md-button.md-icon-button.header-back-button {
    margin: 0 4px 0 0;
    cursor: pointer;
    padding: 0;
    width: 24px;
    min-width: 24px;

    md-icon {
        transform: scale(1.2);
        color: $bright-icon-color;
    }

    &.md-focused {
        background-color: transparent !important; // fix bug in md-no-ink
    }
}
