.battery-status {
    position: relative;
    top: -18px;
    right: 24px;

    &.alert md-icon {
        color: $status-error-color;
    }

    md-icon {
        // sass-lint:disable no-vendor-prefixes
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        // sass-lint:enable no-vendor-prefixes
    }

    md-icon,
    span {
        position: absolute;
        top: 1px;
        width: 24px;
        height: 24px;
        line-height: 24px;
    }

    .battery-percent {
        top: 20px;
        left: 1px;
        text-align: center;
        font-family: monospace;
        font-size: .8em;
    }
}
