md-dialog {
    min-width: 520px;
    max-width: 750px;

    p {
        margin-bottom: 16px;
        line-height: 1.3em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    h2 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-size: 1.4em;
    }

    ul {
        margin-left: 1.3em;

        li {
            line-height: 1.5em;
        }
    }

    md-dialog-content {
        line-height: 1.3em;
        color: $text-dark-background-color;

        // If a h2 is the first child of a dialog, remove the top margin
        .md-dialog-content > h2 {
            &:first-child {
                margin-top: 0;
            }
        }
    }

    .md-subheader-inner {
        padding-left: 0;
    }

    .status {
        padding-left: 16px;
    }
}

md-dialog.send-file-dialog {
    md-input-container.input-caption {
        margin-bottom: 0;
    }

    md-input-container.input-send-as-file {
        margin-top: 0;
        margin-bottom: 0;
    }

    .preview {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 250px;
    }
}

md-dialog.message-history-dialog {
    md-dialog-content {
        padding: 24px;
    }

    .event-type {
        font-weight: bold;

        &::after {
            content: ':';
        }
    }
}

// sass-lint:disable no-vendor-prefixes
// sass-lint:disable force-pseudo-nesting
// sass-lint:disable no-mergeable-selectors
md-input-container {
    .md-input::-webkit-input-placeholder {
        color: darken($text-placeholder-color, 30%);
    }

    .md-input:-moz-placeholder {
        color: darken($text-placeholder-color, 30%);
    }

    .md-input::-moz-placeholder {
        color: darken($text-placeholder-color, 30%);
    }

    // TODO: Investigate this.
    // If this pseudo-class is nested within its parent
    // it doesn't work in Chrome. I have no clue why.
    .md-input:-ms-input-placeholder {
        color: darken($text-placeholder-color, 30%);
    }

    .md-input::-webkit-input-placeholder {
        color: darken($text-placeholder-color, 30%);
    }
}

md-input-container.md-input-focused {
    .md-input::-webkit-input-placeholder {
        color: darken($text-placeholder-color, 20%);
    }

    .md-input:-moz-placeholder {
        color: darken($text-placeholder-color, 20%);
    }

    .md-input:-ms-input-placeholder {
        color: darken($text-placeholder-color, 20%);
    }

    .md-input::-webkit-input-placeholder {
        color: darken($text-placeholder-color, 20%);
    }
}
// sass-lint:enable no-vendor-prefixes
// sass-lint:enable force-pseudo-nesting
// sass-lint:enable no-mergeable-selectors
