.drag-container {

    &.is-dragover {
        .drag-file-overlay {
            display: flex;
        }
    }
    drag-file {
        > .drag-file-overlay {
            position: absolute;
            width: calc(100%);
            height: calc(100%);
            background-color: rgba(0,0,0, 0.4);
            display: none;

            z-index: 19;

            //padding: $main-padding;

            > div {
                margin: $main-padding/2;
                flex-grow: 1;
                border: 4px dotted white;

                display: flex;

                align-items: center;
                justify-content: center;
                > span {
                    font-size: 20pt;
                    color: white;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
                }
            }
        }
    }
}
