@use "sass:math";

.drag-container {

    &.is-dragover {
        .drag-file-overlay {
            display: flex;
        }
    }

    drag-file {
        > .drag-file-overlay {
            display: none;
            position: absolute;
            z-index: 19;
            background-color: rgba(0, 0, 0, .4);
            width: calc(100%);
            height: calc(100%);

            > div {
                display: flex;
                flex-grow: 1;
                align-items: center;
                justify-content: center;
                margin: math.div($main-padding, 2);
                border: 4px dotted #ffffff;

                > span {
                    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
                    color: #ffffff;
                    font-size: 20pt;
                }
            }
        }
    }
}
