// Based on http://mrmrs.io/links/
a {
    transition: color .4s;
    text-decoration: none;
    color: #265c83;

    &:link,
    &:visited {
        color: #265c83;
    }

    &:hover {
        color: lighten(#265c83, 30%);
    }

    &:active {
        transition: color .3s;
        color: #007be6;
    }
}
