// Based on http://mrmrs.io/links/
a {
    transition: color .4s;
    text-decoration: none;
    color: $theme-primary;

    &:link,
    &:visited {
        color: $theme-primary;
    }

    &:hover {
        color: $theme-b400;
    }

    &:active {
        color: $theme-b400;
    }
}
