.mention {
    background-color: #E0E0E0;
    padding: 2px 5px;
    position: relative;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: black;
}
