.mention {
    border-radius: 5px;
    padding: 0 5px 0 20px;
    line-height: 10pt !important;

    &.me,
    &.all {
        background-color: #8b8b8b;
        color: #ffffff;
    }

    &.id {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        background-color: #e0e0e0;
        color: #000000;
    }

    &::before {
        position: relative;
        top: -2px;
        opacity: .6;
        margin-left: -16px;
        font-size: 10pt;
        content: '@';
    }

    &.link {
        cursor: pointer;
    }
}
