@use "sass:math";

eee-message-voip-status {
    > p {
        display: flex;
        flex-direction: row;
        align-items: center;

        md-icon {
            margin-right: math.div($main-padding, 2);
        }
    }
}

// Left align icon for incoming status messages
.message-in eee-message-voip-status span {
    flex-grow: 1;
}
