.md-autocomplete-suggestions{
    $avatar-size-in-autocomplete: 30px;
  .receiver-badge {
    .avatar-box {
      max-height: $avatar-size-in-autocomplete;
      img {
        max-height: $avatar-size-in-autocomplete;
        width: auto;
      }
    }
  }
}
.receiver-badge {
  @include mouse-hand;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  width: 100%;

  .avatar-box {
    margin-right: $main-padding;
  }


  .receiver-badge-name {
    margin-right: $main-padding;
  }
  /**
    Contact badge specific rules
   */
  &.contact-badge {

    .contact-badge-identity {
      flex: 1;
      text-align: right;
      font-size: 10pt;
      color: #757575;
    }
  }

  /**
    Distribution List badge specific rules
   */
  &.distribution-list-badge {

  }

  /**
    Group badge specific rules
   */
  &.group-badge {
    .receiver-role {
      flex: 1;
      text-align: right;
      font-size: 10pt;
      color: #757575;
    }
  }
}