.typing-animation {
    display: inline-block;

    &::after {
        display: inline-block;
        animation: ellipsis steps(4, end) 900ms infinite;
        width: 0;
        overflow: hidden;
        vertical-align: bottom;
        content: '\2026'; // ASCII code for the ellipsis character
    }
}

@keyframes ellipsis {
    to {
        width: 20px;
    }
}
