#background-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-width: 1024px;
    height: auto;
    min-height: 100%;
    -moz-user-select: none; // sass-lint:disable-line no-vendor-prefixes
    -webkit-user-select: none; // sass-lint:disable-line no-vendor-prefixes
    user-select: none;
    pointer-events: none;
}

#main-wrapper {
    margin: 0 auto;
    width: 98vw;
    max-width: 450px;
    height: calc(
        100vh - #{$header-height} - #{$footer-height} - #{$main-padding} * 2 - #{$main-border-top});
    max-height: 575px;

    &.wide {
        max-width: 1500px;
        max-height: inherit;
    }

    // Set min height of messenger
    &.wide #main {
        min-height: 272px;
    } // Set min height of welcome screen

    &:not(.wide) #main {
        height: auto;
        min-height: 620px;
    }
}

#main {
    border-radius: $material-radius;
    box-shadow: $material-card-shadow-color;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main-content {
    width: 100%;
    height: 100%;
}

#messenger {
    display: flex;
    flex-direction: row;
    // height calculation in _status_bar.scss
    width: 100%;

    #navigation {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #detail {
        height: 100%;

        > div.ng-scope {
            background-color: $background-dark-color;
            height: 100%;


            // Default style for the header in the detail
            .detail-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                z-index: 18;
                box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, .2);
                background-color: $conversation-header-color;
                padding: 0 $main-padding;
                min-height: 68px;

                >* {
                    margin-left: 8px;
                    color: text-bright-background-color;
                } // TODO This might need renaming to header-detail

                .header-detail {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow: hidden;

                    > * {
                        display: flex;
                        flex-direction: row;
                        flex-grow: 1;
                        justify-content: space-between;
                        line-height: 100%;
                        color: #000000;

                        &:first-child {
                            font-weight: bold;
                        }
                    }
                }

                .header-buttons {
                    flex: 1;
                    text-align: right;

                    // Loading indicator
                    md-progress-circular {
                        display: inline-block;
                    }

                    .material-icons {
                        color: $icon-dark-color;
                    }
                }
            }

            .detail-content {
                background-color: $background-dark-color;
                color: $text-bright-background-color;

                ul {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    list-style-type: none;

                    > li {
                        margin-bottom: $main-padding;
                    }
                }
            }

            md-card md-card-content {
                background-color: $background-very-light-color;
                color: $text-bright-background-color;
            }

            md-card-title {
                background-color: $background-very-light-color;
                color: $text-bright-background-color;
            }

            // editable or readonly detail content
            >.form {
                display: flex;
                flex-direction: column;
                height: 100%;

                &.readonly {
                    .form-header {
                        height: 400px;
                        overflow: hidden;

                        eee-avatar {
                            background-color: $background-very-light-color;

                            img {
                                position: relative;
                                top: calc(-100%);
                                border-radius: 0;
                                width: 100%;
                                max-width: 100%;
                                height: auto;
                                max-height: none;
                            }
                        }
                    }
                }

                .detail-content {
                    flex-grow: 1;
                    overflow: auto;

                    .two-row {
                        display: flex;
                        flex-flow: row;

                        &.div {
                            > :first-child {
                                margin-right: 4 * $main-padding;
                                border-right: 1px solid rgba(0, 0, 0, .12);
                                padding-right: 4 * $main-padding;
                            }
                        }

                        > * {
                            flex: 1;

                            // be sure the avatar has always the same height as width
                            &.avatar {
                                position: relative;
                                background-color: $background-very-light-color;
                                width: 50%;
                                overflow: hidden;

                                &::before {
                                    display: block;
                                    margin-top: 100%;
                                    content: '';
                                }

                                eee-avatar {
                                    position: absolute;
                                    top: 0;
                                    width: 100%;

                                    img {
                                        border-radius: 0;
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }

                    .form-content {
                        padding: $main-padding;
                    }

                    .loading-overlay {
                        display: none;
                    }
                }
            }
        }
    }

    &:not(.show-detail) {
        #navigation {
            flex: 1 6 100%;
            max-width: 100%;
        }

        #detail {
            display: none;
        }
    }

    &.show-detail {
        #navigation {
            flex: 1 6 30%;
            border-right: 1px solid $border-color;
            min-width: 200px;
            max-width: 30%;
        }

        #detail {
            flex: 3 1 70%;
            max-width: 70%;
        }
    }
}

.material-icons {
    color: $icon-material-grey-color;

    &.as-button {
        opacity: .5;
        cursor: pointer;
        color: $icon-material-grey-color;

        &:hover {
            opacity: 1;
        }
    }

    .md-dark {
        color: $icon-dark-color;
    }

    .md-medium-dark {
        color: $icon-medium-dark-color;
    }

    .md-light {
        color: $icon-light-color;
    }

    .md-primary {
        color: $icon-material-grey-color;
    }
}

md-dialog.md-default-theme,
md-dialog {
    background-color: $background-light-color;
}

.md-dialog-content {
    background-color: $background-light-color;
    color: $text-bright-background-color;

    &.center {
        text-align: center;
    }
}

md-checkbox {
    .md-default-theme {
        :note(.md-checked) {
            .md-icon {
                border-color: $text-bright-background-color;
            }
        }
    }

    :not(.md-checked) {
        .md-icon {
            border-color: $text-bright-background-color;
        }
    }
}

input.threema-id {
    text-transform: uppercase;
}

a.click-action {
    cursor: pointer;
}

.android-ios-only {
    margin: 10px auto 0;
    border-radius: $material-radius;
    box-shadow: $material-card-shadow;
    background-color: #ffffff;
    width: 100%;
    text-align: center;

    div {
        display: inline-flex;
        align-items: center;
        padding: 16px;
        vertical-align: middle;
        line-height: 24px;
        white-space: nowrap;
        font-weight: 300;

        i.material-icons {
            margin-right: 8px;
        }

        img {
            margin-right: 8px;
            height: 26px;
        }
    }
}


// show dt as threema green subjects
.key-values {
    dt {
        padding-bottom: ($main-padding);
        color: $primary-500;
    }

    dd {
        display: block;
        margin-bottom: $main-padding * 2;
        word-break: normal;

        > .complex-values {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;

            > *:not(:last-child) {
                margin-right: $main-padding;
            }

            .indicator-icon {
                $indicator-size: 18px;
                top: 48px - $indicator-size;

                img {
                    width: $indicator-size;
                    height: $indicator-size;
                }
            }
        }
    }
}

md-input-container {

    .md-input {
        border-color: $text-dark-color;
        color: $text-dark-color;
    }

    label {
        color: $text-bright-background-color;
    }

    .md-input-has-value label {
        color: $text-bright-background-color;
    }

    :not(.md-input-invalid).md-input-focused {
        border-color: $text-dark-color;
    }

    :not(.md-input-invalid).md-input-focused label {
        color: $text-dark-color;
    }
}

// angular material extensions
md-toast {
    .md-center {
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

    .md-toast-content {
        span {
            text-align: center;
        }
    }
}

.md-subheader {
    background-color: transparent;
}

md-list-item .md-list-item-inner>md-checkbox .md-label {
    display: inline-block;
    white-space: inherit;
}

.status span {
    display: inline;
    vertical-align: top;
    line-height: 24px;
}

.status-yes i {
    color: #4caf50;
}

.status-no i {
    color: #f44336;
}

.status-unknown i {
    color: #0277bd;
}

.small {
    font-size: .8em;
    font-weight: 300;
}

md-toolbar {
    :not(.md-menu-toolbar) {
        background-color: $md-toolbar-color;
        color: $md-toolbar-text-color;

        .md-button {
            .md-icon-button md-icon {
                color: $md-toolbar-button-color;
            }
        }
    }
}

md-menu-content {
    background-color: $background-very-light-color;
}
